{% extends 'base.html' %}
{% block title %}
<title>用户首页</title>
{% endblock %}

{% block css_and_js %}

<!--<link rel="stylesheet" href="/static/css/user_register.css">-->
<link rel="stylesheet" href="/static/css/detail.css">
<!--<link rel="stylesheet" href="/static/css/main.css">-->
<!--<link rel="stylesheet" href="/static/css/style.css">-->
<!--<script src="/static/js/app/goods_show1.js"></script>-->
<script src="/static/js/app/jquery-1.12.4.min.js"></script>
<script src="/static/js/app/index.js"></script>
<script src="/static/js/app/shopcart.js"></script>
<script src="/static/js/app/sec_cookie.js"></script>
<script src="/static/js/app/detail.js"></script>

{% endblock %}

{% block content %}

<!--导航-->
<div id="nav_container">
    <div id="nav">
        <div id="nav_right">
            <ul class="nav_right_list">
                <li class="li1 nav_right_list goodsCount">0</li>
                <li class="space nav_right_list">|</li>
                <li class="nav_right_list goodsprice">￥0.00</li>
            </ul>
            <div class="nav_shopping_bag" style="display: none;">
                <div class="nav_shopbag_close">
                    <a href="javascript:void(0);" class="nav_button_close">关闭</a>
                </div>
                <div class="inner_none" >购物袋暂无商品</div>

            </div>
        </div>
    </div>
</div>
<!--导航 end-->

<!--商品详情页主题内容-->
<div class="detail_wrap">
    <div class="detail_container">
        <!--商品位置信息-->
        <div id='detail_locat' class="detail_location">
            <ul>
                <li><a href="javascript:;">首页</a></li>
                <li><span>></span><a href="javascript:;">婴童</a></li>
                <li><span>></span><a href="javascript:;">HAPE</a></li>
                <li><span>></span>3岁+30键粉色钢琴E0319  - 商品代码 ：HP3-805-00064</li>
            </ul>
        </div>
        <!--商品信息1-->
        <div class="main_wraper">
            <div class="main1">
                <div class="main1_inner">
                    <!--左边图片展示部分-->
                    <div class="main1_inner_left">
                        <div class="good_img">
                            <ul class="good_img_list">
                                <li><a href="javascript:;"><img src="/static/images/img/good_bigimg1.jpg"/></a></li>
                                <li><a href="javascript:;"><img src="/static/images/img/good_bigimg2.jpg"/></a></li>
                                <li><a href="javascript:;"><img src="/static/images/img/good_bigimg3.jpg"/></a></li>
                                <li><a href="javascript:;"><img src="/static/images/img/good_bigimg4.jpg"/></a></li>
                            </ul>
                            <a href="javascript:;" class="goodimg_listleft"><</a>
                            <a href="javascript:;" class="goodimg_listright">></a>
                        </div>
                        <div class="good_smallimg">
                            <ul class="good_smallimg_list">
                                <li><a href="javascript:;"><img src="/static/images/img/good_smallimg1.jpg"/></a></li>
                                <li><a href="javascript:;"><img src="/static/images/img/good_smallimg2.jpg"/></a></li>
                                <li><a href="javascript:;"><img src="/static/images/img/good_smallimg3.jpg"/></a></li>
                                <li><a href="javascript:;"><img src="/static/images/img/good_smallimg4.jpg"/></a></li>
                            </ul>
                        </div>

                    </div>
                    <!--左边图片展示部分 end-->
                    <!--右边商品  选择部分-->
                    <div class="main1_inner_right">
                        <a href="javascript:;" id="sina_share">分享</a>
                        <div class="main_right_tit">HAPE</div>
                        <div class="good_name">
                            <h2>3岁+30键粉色钢琴E0319</h2>
                        </div>
                        <div class="good_price">
                            <div class="icurprice fl">
                                <span class="icurprice1">￥</span>
                                <span class="icurprice2">1030</span>
                            </div>
                            <div class="preprice fl">
                                <span class="preprice1">￥</span>
                                <span class="preprice2">1,558</span>
                            </div>
                            <div class="good_discount fl">
                                <span class="good_discount1">6.7</span>
                                <span class="good_discount2">折</span>
                            </div>
                        </div>
                        <div class="good_activity">
                            <div class="good_activity1">
                                <div class="activity_unfold">
                                    <a href="javascript:;" class="unfold_btn">展开</a>
                                    <span>共 <strong> 2 </strong> 项 ，</span>
                                </div>
                                <div class="activity_con">
                                    <span>购HAPE 德国益智类玩具专场任意产品，满598元，减80元；以此类推，上不封顶</span>
                                </div>
                            </div>
                            <div class="good_activity2" style="display: none;">
                                <p>满688元全场免运</p>
                            </div>
                        </div>
                        <div class="goods_choose">
                            <div class="goodschos_tit">颜色：<strong> 粉色 </strong></div>
                            <ul class="choose_color">
                                <li>
                                    <a href="javascript:;">
                                        <img src="/static/images/img/good_choose.jpg" alt="粉色" title="粉色" id="data-src"/>
                                        <span>粉色</span>
                                    </a>

                                </li>
                            </ul>
                        </div>
                        <div class="good_choose_num">
                            <div class="good_num_tit">数量</div>
                            <div class="choose_num">
                                <a href="javascript:;"><span class="num_reduce false_choose">-</span></a>
                                <span class="realynum" style="overflow: hidden;">
                                    <input type="text" value="1" readonly="true" id="truenum" />
                                </span>
                                <a href="javascript:;"><span class="num_add">+</span></a>
                                <span class="choose_explain"></span>
                            </div>
                        </div>
                        <div class="good_trace">
                            预计出库日期
                            <span>2016年9月11日</span>
                        </div>
                        <div class="good_btn">
                            <a href="javascript:;" class="add_shopcar">
                                <span id="buy" data-id="1">加入购物袋</span>
                            </a>
                        </div>
                        <div class="countdown clearfix">
                            <div class="countdown_label">
                                <strong>限时抢购</strong>
                                <em>活动剩余</em>
                            </div>
                            <div class="countdown_time">
                                <strong>
                                    <em class="countdownD">04</em>
                                    <del></del>
                                </strong>
                                <span>天</span>
                                <strong>
                                    <em class="countdownH">22</em>
                                    <del></del>
                                </strong>
                                <span>时</span>
                                <strong>
                                    <em class="countdownM">20</em>
                                    <del></del>
                                </strong>
                                <span>分</span>
                                <strong>
                                    <em class="countdownS">30</em>
                                    <del></del>
                                </strong>
                                <span>秒</span>
                            </div>
                        </div>
                        <div class="ensure_aftersale">
                            <span class="good_real">官方授权正品</span>
                            <span class="good_return">7天无理由退货</span>
                        </div>

                    </div>
                    <!--右边商品     选择部分-->
                </div>
            </div>
            <!--商品信息区第二部分-->
            <div class="main2">
                <!--商品区详细的细节介绍-->
                <div class="good_more_details">
                    <div class="g_m_content">
                        <div class="g_m_tips"></div>
                    </div>
                    <div class="g_m_info">
                        <h2 class="g_m_heading">
                            <strong>size info</strong>
                            <span>尺寸信息</span>
                        </h2>
                        <div class="size_matter">
                            <div class="size_matter_top">
                                <span>单位：CM</span>
                                <a href="javascript:;">尺码指南</a>
                            </div>
                            <div class="size_matter_table">
                                <table class="size_table_head">
                                    <tbody>
                                        <tr>
                                            <th>商品尺寸</th>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="size_table_body" width="870";>
                                    <tbody>
                                        <tr>
                                            <th>61.4*22*58.7</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="g_m_info good_introduce">
                        <h2 class="g_m_heading">
                            <strong>product info</strong>
                            <span>商品信息</span>
                        </h2>
                        <div class=" g_m_content">
                            <p>受用于3岁以上儿童使用，坚固耐用，抗摔抗磨，高端安全环保漆层，无毒无刺激性气味，源自德国工艺和创作团队，从小接触钢琴，培养孩子的音乐感知能力，弹奏钢琴有助于强化左手运动，利于右脑开发，发展多种思维。</p>
                        </div>
                        <div class="g_m_content">
                            <ul class="good_info_list clearfix">
                                <li>
                                    <span>产地：</span>
                                    <strong>中国</strong>
                                </li>
                                <li>
                                    <span>品牌属地：</span>
                                    <strong>德国</strong>
                                </li>
                                <li>
                                    <span>颜色：</span>
                                    <strong>粉色</strong>
                                </li>
                                <li>
                                    <span>适用年龄：</span>
                                    <strong>三岁以上</strong>
                                </li>
                                <li>
                                    <span>备注：</span>
                                    <strong class="alert_tips">注意细小配件，避免幼儿玩耍时吞食而引发窒息。</strong>
                                    <div class="p_info" style="display: none;">注意细小配件，避免幼儿玩耍时吞食而引发窒息。</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="g_m_content">
                        <h3>洗护</h3>
                        湿布擦拭
                    </div>
                    <div class="g_m_content maintain">
                        <h3>保养</h3>
                        <ul>
                            <li>湿布擦拭</li>
                        </ul>
                    </div>
                    <div class="g_m_content">
                        图片及相关信息仅供参照，因拍摄灯光及不同显示器色差等问题可能造成商品图片与实物的色差，一切以实物为准。
                    </div>
                    <div class="g_d_gallery clearfix">
                        <img src="/static/images/img/good_bigimg1.jpg"/>
                        <img src="/static/images/img/good_bigimg2.jpg"/>
                        <img src="/static/images/img/good_bigimg3.jpg"/>
                        <img src="/static/images/img/good_bigimg4.jpg"/>
                    </div>
                    <div class="good_brandstory">
                        <h2 class="g_m_heading">
                            <strong>HAPE</strong>
                        </h2>
                        <div class="good_brand_content">
                            <img src="../img/brand_con.jpg"/>
                            <div class="good_brandcon_mask">

                            </div>
                            <div class="brand_content_box">
                                <div class="g_m_content many_content">
                                    <p>享誉全球的德国著名木制玩具品牌HAPE，拥有近30年历史行销世界50多个国家，以玩具设计、开发、生产、销售、售后服务为一体的环保玩具企业。HAPE始终坚持欧洲原创设计，高质天然的环保材料和德国的制造工艺及标准，从玩耍中开发益智，并充分激发孩子们主动去学习，去探索，提升社交能力、感官技能、身体技能以及情感表达。使得hape每一件玩具成为童年生活中难忘的亮点。独...</p>
                                </div>
                                <div class="brandstory_link">
                                    <a href="javascript:;" target="_blank" class="brand_readmore">
                                        查看更多
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="good_comment">
                        <h2 class="g_m_heading">
                            <strong>comments</strong>
                            <span>购物评论</span>
                        </h2>
                        <div class="comment_item">
                            <div class="comment_content">
                                <p>宝宝喜欢</p>
                            </div>
                            <div class="comment_info good_color">
                                <p>颜色：粉色</p>
                                <p>尺寸：</p>
                            </div>
                            <div class="comment_info comment_name">
                                <span>limeihua333</span>
                                <div class="comment_star">
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                </div>
                            </div>
                            <div class="comment_info comment_use">
                                <a href="javascript:;">有用</a>
                                (
                                <span>0</span>
                                )
                            </div>
                        </div>
                        <div class="comment_item">
                            <div class="comment_content">
                                <p>还不错 的</p>
                            </div>
                            <div class="comment_info good_color">
                                <p>颜色：粉色</p>
                                <p>尺寸：</p>
                            </div>
                            <div class="comment_info comment_name">
                                <span>67***@qq.com</span>
                                <div class="comment_star">
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                </div>
                            </div>
                            <div class="comment_info comment_use">
                                <a href="javascript:;">有用</a>
                                (
                                <span>1</span>
                                )
                            </div>
                        </div>
                        <div class="comment_item">
                            <div class="comment_content">
                                <p>我们家宝宝很喜欢，实物跟图片一样&nbsp;赞</p>
                            </div>
                            <div class="comment_info good_color">
                                <p>颜色：粉色</p>
                                <p>尺寸：</p>
                            </div>
                            <div class="comment_info comment_name">
                                <span>朱爱芳</span>
                                <div class="comment_star">
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                </div>
                            </div>
                            <div class="comment_info comment_use">
                                <a href="javascript:;">有用</a>
                                (
                                <span>1</span>
                                )
                            </div>
                        </div>
                        <div class="comment_item">
                            <div class="comment_content">
                                <p>很漂亮，但就是玩具，音质不怎样。</p>
                            </div>
                            <div class="comment_info good_color">
                                <p>颜色：粉色</p>
                                <p>尺寸：</p>
                            </div>
                            <div class="comment_info comment_name">
                                <span>step ha nie</span>
                                <div class="comment_star">
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                </div>
                            </div>
                            <div class="comment_info comment_use">
                                <a href="javascript:;">有用</a>
                                (
                                <span>0</span>
                                )
                            </div>
                        </div>
                        <div class="comment_item">
                            <div class="comment_content">
                                <p>很好</p>
                            </div>
                            <div class="comment_info good_color">
                                <p>颜色：粉色</p>
                                <p>尺寸：</p>
                            </div>
                            <div class="comment_info comment_name">
                                <span>kic****@163.com</span>
                                <div class="comment_star">
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                    <img src="../img/star.png"/>
                                </div>
                            </div>
                            <div class="comment_info comment_use">
                                <a href="javascript:;">有用</a>
                                (
                                <span>0</span>
                                )
                            </div>
                        </div>

                    </div>

                </div>
                <!--商品区详细的细节介绍 end-->
                <!--猜你喜欢-->
                <div class="you_may_like">
                    <h2 class="g_m_heading">
                        <strong>YOU MAY ALSO LIKE</strong>
                        <span>猜你喜欢</span>
                    </h2>
                    <div id="maybeLikeList" class="p_list clearfix">
                        <div class="p_item">
                            <a href="javascript:;">
                                <div class="maylike_img">
                                    <img src="../img/maylike_img1.jpg"/>
                                </div>
                                <div class="maylike_good_info">
                                    <span class="p_brand">HAPE</span>
                                    <span class="p_name">2岁+益智创意磁性运笔迷宫动物派对迷宫E1706</span>
                                    <div class="p_priceblock">
                                        <strong class="p_price">￥193 </strong>
                                        <del class="p_price_mkt">￥418</del>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p_item">
                            <a href="javascript:;">
                                <div class="maylike_img">
                                    <img src="../img/maylike_img2.jpg"/>
                                </div>
                                <div class="maylike_good_info">
                                    <span class="p_brand">FISHER PRICE</span>
                                    <span class="p_name">多功能狮子学步车</span>
                                    <div class="p_priceblock">
                                        <strong class="p_price">￥189 </strong>
                                        <del class="p_price_mkt">￥429</del>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p_item">
                            <a href="javascript:;">
                                <div class="maylike_img">
                                    <img src="../img/maylike_img3.jpg"/>
                                </div>
                                <div class="maylike_good_info">
                                    <span class="p_brand">HAPE</span>
                                    <span class="p_name">1岁以上宝宝益智串珠绕珠E1810</span>
                                    <div class="p_priceblock">
                                        <strong class="p_price">￥918 </strong>
                                        <del class="p_price_mkt">￥1428</del>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p_item">
                            <a href="javascript:;">
                                <div class="maylike_img">
                                    <img src="../img/maylike_img4.jpg"/>
                                </div>
                                <div class="maylike_good_info">
                                    <span class="p_brand">HAPE</span>
                                    <span class="p_name">3岁+30键粉色钢琴E0319</span>
                                    <div class="p_priceblock">
                                        <strong class="p_price">￥1030 </strong>
                                        <del class="p_price_mkt">￥1558</del>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>

                </div>
                <!--猜你喜欢 end-->
                <!--更多推荐-->
                <div class="more_recommand">
                    <h2 class="g_m_heading">
                        <strong>Recommendations</strong>
                        <span>更多商品</span>
                    </h2>
                    <div class="p_list clearfix">
                        <div class="p_item">
                            <a href="javascript:;">
                                <div class="maylike_img">
                                    <img src="../img/rec_img1.jpg"/>
                                </div>
                                <div class="maylike_good_info">
                                    <span class="p_brand">HAPE</span>
                                    <span class="p_name">早旋律敲琴台</span>
                                    <div class="p_priceblock">
                                        <strong class="p_price">￥208 </strong>
                                        <del class="p_price_mkt">￥298</del>
                                        <em>30%OFF</em>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p_item">
                            <a href="javascript:;">
                                <div class="maylike_img">
                                    <img src="../img/rec_img2.jpg"/>
                                </div>
                                <div class="maylike_good_info">
                                    <span class="p_brand">HAPE</span>
                                    <span class="p_name">10月+摇摇木马E0100</span>
                                    <div class="p_priceblock">
                                        <strong class="p_price">￥489 </strong>
                                        <del class="p_price_mkt">￥728</del>
                                        <em>32%OFF</em>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p_item">
                            <a href="javascript:;">
                                <div class="maylike_img">
                                    <img src="../img/rec_img3.jpg"/>
                                </div>
                                <div class="maylike_good_info">
                                    <span class="p_brand">HAPE</span>
                                    <span class="p_name">2岁+益智大块立体积木拼图动物六面拼图E0421</span>
                                    <div class="p_priceblock">
                                        <strong class="p_price">￥88 </strong>
                                        <del class="p_price_mkt">￥168</del>
                                        <em>47%OFF</em>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p_item">
                            <a href="javascript:;">
                                <div class="maylike_img">
                                    <img src="../img/rec_img4.jpg"/>
                                </div>
                                <div class="maylike_good_info">
                                    <span class="p_brand">HAPE</span>
                                    <span class="p_name">儿童过家家经典美食家绿色厨房（3岁+）</span>
                                    <div class="p_priceblock">
                                        <strong class="p_price">￥938 </strong>
                                        <del class="p_price_mkt">￥1248</del>
                                        <em>30%OFF</em>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <!--更多推荐 end-->
            </div>
            <!--商品信息区第二部分 end-->
        </div>
        <!--商品信息1  主要内容区 end-->
    </div>

</div>
<!--商品详情页主题内容 end-->

{% endblock %}
