{% extends 'base.html' %}
{% block title %}
<title>用户首页</title>
{% endblock %}
{% block css_and_js %}
<link rel="stylesheet" href="/static/css/shopbag.css">



{% endblock %}
{% block content %}


    <!--购物袋商品内容区-->
    <div id="shopbag_wrap">
        <div id="shop_bagcon">
            <h2 class="shopbag_tit">购物袋</h2>
            <div class="shoplist_tab">
                <a href="javascript:;" class="active">在售</a>
                <a href="javascript:;">心愿单</a>
                <a href="javascript:;">已失效</a>
            </div>
            <div class="shopbag_tag shopbag_list1">


                <!--添加购物车的商品   当购物车有商品时显示-->
                <div class="shopslist">
                    <div class="list_title">
                        <ul>
                            <li class="list_name">
                                <h3>魅力惠直发</h3>
                                <strong>
                                    <img src="/static/images/iii/good_transpro.gif"/>
                                    预计出库日期：
                                    <span>2016年9月18日</span>
                                </strong>
                            </li>
                            <li>单价</li>
                            <li>数量</li>
                            <li>优惠</li>
                            <li>小计</li>
                            <li>删除</li>
                        </ul>
                    </div>
                    <div class="list_content">
                        <ul class="list_content_ul clearfix">
                            <li class="list_content_left">
                                <p class="list_content_img fl">
                                    <a href="javascript:;"><img src="/static/images/iii/goods_buy.jpg" title="3岁+30键粉色钢琴E0319" alt="3岁+30键粉色钢琴E0319" class="goods_pic"/></a>
                                </p>
                                <p class="list_content_info fl">
                                    <span class="list_content_name">
                                        <a href="javascript:;" class="goodsbuy_brand">TYAKASHA  </a>
                                    </span>
                                    <span><a class="list_content_discribe" style="width: 250px;">塔卡沙芝麻街系列 女款黑色连帽羽绒服</a></span>
                                    <span class="list_content_State"></span>
                                </p>
                            </li>
                            <li class="goods_price">￥ 1030.00 </li>
                            <li>
                                <div class="number_choose">
                                    <span class="number_reduce">-</span>
                                    <span class="quantity_number">
                                        <input readonly="readonly" value="1" type="text" id="truenum">
                                    </span>
                                    <span class="number_add">+</span>
                                </div>
                            </li>
                            <li class="price_reduce">￥80.00</li>
                            <li class="price_totle">￥950.00</li>
                            <li class="good_remove">
                                <div class="good_remove_box" style="display: none;">
                                    <div class="box_top">
                                        <div class="top_icon"></div>
                                    </div>
                                    <div class="box_content">
                                        <p class="p1">您确定要删除该商品吗？</p>
                                        <p class="p2">
                                            <span class="button_cancel">取消</span>
                                            <a href="javascript:;" class="button_yes">确定</a>
                                        </p>
                                    </div>
                                </div>
                                <img src="/static/images/iii/goodss_remove.png" alt="" class="good_remove_img"/>
                            </li>
                        </ul>
                        <div class="box_effect">
                            <ul>
                                <li class="box_effect_bg">
                                    <div class="box_effect_content">
                                        <p style="width:933px">
                                            <span>【 </span>
                                            <a href="javascript:;">德国益智类玩具 </a>
                                            <span> 】</span>
                                            <span class="red">已享受满598元减80元 </span> ;
                                            再购
                                            <span class="red">166元</span>
                                            即可享受满1196元减160元 ; 优惠可累计，最高减至减80000元 &nbsp;
                                            <a href="javascript:;" style="text-decoration: underline;"> 去凑单 </a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--添加购物车的商品 end-->

                <div class="clearfix"></div>

                <!--全场的优惠-->
                <div class="box_effect shopcar_bargin" >
                    <ul>
                        <li class="box_effect_bg" style="width:995px">
                            <div class="box_effect_content" style="width:973px">
                                <p style="width: 933px;">
                                    <span>【 </span>
                                    <a href="javascript:;">全场</a>
                                    <span> 】</span>
                                    <span class="red">已享受满688元全场免运费</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--全场的优惠 end-->

                <!--购物车的支付部分-->
                <div class="shopbag_pay" >
                    <div class="shopbag_pay_left">
                        <span id="use_coupon">使用购物券</span>
                    </div>
                    <div class="shopbag_pay_right">
                        <div class="shopbag_pay_right1 price_total">
                            总金额（已免运费）
                            <span>￥950.00</span>
                        </div>
                        <div class="shopbag_pay_right1">
                            <span class="continue_buy">继续购物</span>
                            <span class="pay_now">立即结账</span>
                        </div>
                    </div>
                </div>
                <!--购物车的支付部分 end-->



            </div>
            <div class="shopbag_tag shopbag_list2" >
                <p class="shopbag_tip_list1">即将上新的商品可以加入心愿单啦！抢购快人一步，赶快行动吧~</p>
            </div>
            <div class="shopbag_tag shopbag_list3" >
                <p class="shopbag_tip_list1">活动结束的商品会显示在此</p>
            </div>


        </div>
    </div>
    <!--购物袋商品内容区  end -->

<!--网站底部-->
    <div id=footer-wrap>
			<div id="footer">
				<div class="footer_advantage">
					<ul class="footer_advantage_list">
						<li class="footer_advantage_li"><a href="javascript:;" class="adv1">100%品牌授权正品</a></li>
						<li class="footer_advantage_li"><a href="javascript:;" class="adv2">满688免运费</a></li>
						<li class="footer_advantage_li"><a href="javascript:;" class="adv3">7天无条件退货</a></li>
						<li class="footer_advantage_li"><a href="javascript:;" class="adv4">超值折扣</a></li>
						<li class="footer_advantage_li"><a href="javascript:;" class="adv5">9点限时闪购</a></li>
						<li class="footer_advantage_li footer_advantage_right"><a href="javascript:;" class="adv6">400 - 644 - 6698</a></li>
					</ul>
				</div>
				<p class="footer_link">
					<a href="javascript:;">关于魅力惠</a>
					<a href="javascript:;">加入我们</a>
					<a href="javascript:;">联系我们</a>
					<a href="javascript:;">使用帮助</a>
					<a href="javascript:;">使用规则</a>
					<a href="javascript:;">隐私声明</a>
					<a href="javascript:;">网站地图</a>
				</p>
				<p class="footer_copyright">COPYRIGHT&copy;2016&nbsp;杭州魅俪信息技术有限公司版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浙ICP备16004860号-1</p>

			</div>
		</div>


{% endblock %}