{% extends 'base.html' %}

{% block title %}
<title>用户登录</title>

{% endblock %}

{% block css_and_js %}
<link rel="stylesheet" href="/static/css/user_login.css">
<link rel="stylesheet" href="/static/css/user_register.css">
<script src="/static/js/app/user_login.js"></script>
<script>
    $(function () {
     $("#get_code").on('click', function() {
         console.log("onclick执行了");
         var $tel = $("#login_phone").val();
         if ($tel) {
             $.ajax({
                 url: "/shopsite/send_msg/" + $tel + "/",
                 type: "post",
                 data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                 success: function () {
                     if (data.success) {
                         $("#show5").html("正确");
                         $("#phone_code").addClass("colgreen").removeClass("colred");
                         $("#phone_submit").removeAttr("disabled");
                     } else {
                         $("#show5").html("错误");
                         $("#phone_code").addClass("colred").removeClass("colgreen");
                         $("#phone_submit").attr("disabled", disabled);
                     }
                 }
             })

         } else {
             $("#show5").html("请输入手机号！")
         }
     })
        });
</script>
{% endblock %}

{% block header %}
<div id="header-wrap">
    <div id="header">

        <a href="/shopsite/index/"><img class="logo" src="/static/images/log/logo_e.png" alt="logo"></a>
        <ul class="heager_a">

            <li>hi~</li>
            <li><a href="/shopsite/user_login/">[请登录]</a>  </li>
            <li><a href="/shopsite/user_register/">[免费注册]</a> </li>
            <li><a href="">MY有货</a> </li>
            <li><a href="">订单中心</a> </li>
            <li><a href="">客户服务</a> </li>
        </ul>

    </div>
</div>
{% endblock %}
{% block content %}
<div class="content-reg">
    <img  class="login1" src="/static/images/log/login1.jpg" alt="">
    <div id="login-all">

        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active log-tit"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">DBGO &nbsp;登录</a></li>
                <li role="presentation" class="log-tit QR-code-title"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" style="margin-right: 35.4px" >手机号登录</a></li>
            </ul>
            <div style="color:#ee120b;font-size: 14px;margin-top: 10px;margin-left: 30px ">{{msg}}</div>

                 <div role="tabpanel" class="tab-pane active" id="home">                        <form action="/shopsite/user_login/" method="post"  class="tab-content">
                 {% csrf_token %}
                     <input placeholder="请输入手机号/邮箱/用户名" name="username" class="log-input" type="text"  >
                     <div class="log-tishi setNumber-tishi1">
                        手机号用于登录和找回密码，请正确填写。
                     </div>
                     <input placeholder="请输入密码" name="password" class="log-input" type="password">
                     <div class="log-tishi setNumber-tishi2">
                        6-16个字符，可使用字母、数字、符号任意组合
                     </div>
                     {% if request.session.login_times > 3 %}
                     <input placeholder="验证码" class="log-input1" name="code" type="text">
                     <div href="javascript:;" onclick="change_code()" id="code-img" ><img src="/shopsite/code/"  alt="">
                     </div>
                     <div class="log-tishi setNumber-tishi4">
                        请输入验证码
                     </div>
                     {% endif %}
                     <div class="self-login">
                        <input value="YES" name="is_remember" type="checkbox"><span>自动登录</span>
                        <span class="public">
                            公众场合不建议自动登录
                        </span>

                        <a href="" class="forget">忘记密码</a>
                     </div>

                     <div class="setNumber-8a">
                        <button type="submit" class="setNumberbtn login-btn">登录</button>
                     </div>

                     <div class="setNumber-9a">
                        <div class="setNumber-9aa">您可以使用合作网站登录账号</div>
                     </div>
                     <ul class="setNumber-10a">
                        <li>QQ</li><span>|</span>
                        <li>支付宝</li><span>|</span>
                        <li>微博</li><span>|</span>
                        <li>139邮箱</li><span>|</span>
                        <li>手机支付</li>
                     </ul>
                 </form>
                 </div>
                 <div role="tabpanel" class="tab-pane" id="profile">
                    <button href="javascript:;" id="get_code">获取短信验证码</button>
                     <form  action="/shopsite/user_login/" method="post"  class="tab-content">
                         {% csrf_token %}
                     <input placeholder="请输入手机号" id="login_phone" name="login_phone" class="log-input" type="text">
                     <input placeholder="验证码" class="log-input1"  id="phone_code" name="phone_code" type="text">
                     <div class="log-tishi setNumber-tishi4" id="show5">
                        请输入验证码
                     </div>

                     <div class="setNumber-8a">
                        <button type="submit" id="phone_submit" class="setNumberbtn login-btn">登录</button>
                     </div>
                     </form>

                 </div>
<!--{#                <div role="tabpanel" class="tab-pane" id="profile">#}-->
<!--{#                     <div id="logNumber2-con">用DBDO APP 扫描二维码安全登录</div>#}-->
<!--{#                     <div id="logNumber-pic">#}-->
<!--{#                        <img class="img1" src="/static/images/log/log-number2-er.jpg">#}-->
<!--{#                        <img class="img2" src="/static/images/log/log-number2-er1.png">#}-->
<!--{#                     </div>#}-->
<!--{##}-->
<!--{#                     <div id="logNumber-con2">#}-->
<!--{#                        <span><a href="">下载DBGO APP</a></span>#}-->
<!--{#                        <span><a href="">使用帮助</a></span>#}-->
<!--{#                     </div>#}-->
<!--{#                     <div id="logNumber-con3">#}-->
<!--{#                        <p>仅限4.1.1版本以上使用</p>#}-->
<!--{#                     </div>#}-->
<!--{#                 </div>#}-->

        </div>


    </div>






</div>


<script>
    $(function () {
        var $logNumberPic  =  $('#logNumber-pic');
        var $logNumberPic1 =  $('#logNumber-pic .img1');
        var $logNumberPic2 =  $('#logNumber-pic .img2');
        $logNumberPic.hover(
            function(){
                $logNumberPic1.animate({left:20},300);
                $logNumberPic2.fadeIn(300);
            },function(){
                $logNumberPic1.animate({left:80},300);
                $logNumberPic2.fadeOut(300);
            }
	)
    })



</script>

{% endblock %}




