{% extends 'base.html' %}
{% block title %}
<title>用户首页</title>
{% endblock %}
{% block css_and_js %}

<!--<link rel="stylesheet" href="/static/css/user_register.css">-->
<link rel="stylesheet" href="/static/css/goods_show.css">
<link rel="stylesheet" href="/static/css/goods_info.css">
<script src="/static/js/app/goods_show.js"></script>
<script src="/static/js/app/shopcart.js"></script>

{% endblock %}
{% block content %}

		<!-----------------------商品详情内容区--------------------------->
<div id='good-wrap'>
    <div class="good-nav">
        <a>首页</a>&nbsp;>&nbsp;<a>女生</a>&nbsp;>&nbsp;<a>羽绒服</a>&nbsp;>&nbsp;<a>TYAKASHA 塔卡沙芝麻街系列</a>&nbsp;>&nbsp;<span>女款黑色连帽羽绒服</span>
    </div>

    <div id='good-show'>
        <div id="box">
            <div id="middle-box">
                <img src="/static/images/iii/1.jpg" id="middle-img" >
                <div id="zoom-area"></div>
            </div>
            <div id="big-box">
                <img src="/static/images/iii/1.jpg" id="big-img">
            </div>
            <div id="small-box">
                <span style='margin-right:8px;'><</span>
                <ul>

                    <li><a href="javascript:;"><img src="/static/images/iii/1.jpg" alt="" ></a></li>
                    <li style='margin:0 10px;'><a href="javascript:;"><img src="/static/images/iii/2.jpg" alt=""></a></li>
                    <li><a href="javascript:;"><img src="/static/images/iii/3.jpg" 	lt=""></a></li>

                </ul>
                <span style='float:right;'>></span>
            </div>
            <div id='box-bottom'>
                <a style='float:left;height:20px;width:74px;'>收藏商品(<span>0</span>)</a>
                <a style='float:right;height:20px;width:31px;'>举报</a>
            </div>

        </div>
        <!--587*523-->
        <div id='good-price'>
            <h2>TYAKASHA 塔卡沙芝麻街系列 女款黑色连帽羽绒服 </h2>
            <div class='price'>
                <div class='p-left'>
                    <p>市场价：<b>￥{{good.price*1.5}}</b></p>
                    <p>商城价：<span>￥{{good.price}}</span></p>
                </div>
                <div class="p-right">
                    <p>商品评分</p>
                    <p>
                        <img src="/static/images/iii/star-on.png" style="margin-left:10px;">
                        <img src="/static/images/iii/star-on.png">
                        <img src="/static/images/iii/star-on.png">
                        <img src="/static/images/iii/star-on.png">
                        <img src="/static/images/iii/star-on.png">
                    </p>
                </div>


            </div>
            <div class='trans-range'>
                    <div class='range'>至<a style='padding-right:10px' class='a1'>全国</a>
                        <div class='city'>
                            <a href="javascript:;">北京</a>
                            <a href="javascript:;">天津</a>
                            <a href="javascript:;">河北</a>
                            <a href="javascript:;">山西</a>
                            <a href="javascript:;">内蒙古</a>
                            <a href="javascript:;">黑龙江</a>
                            <a href="javascript:;">吉林</a>
                            <a href="javascript:;">辽宁</a>
                            <a href="javascript:;">上海</a>
                            <a href="javascript:;">江苏</a>
                            <a href="javascript:;">浙江</a>
                            <a href="javascript:;">安徽</a>
                            <a href="javascript:;">福建</a>
                            <a href="javascript:;">江西</a>
                            <a href="javascript:;">山东</a>
                            <a href="javascript:;">河南</a>
                            <a href="javascript:;">湖北</a>
                            <a href="javascript:;">湖南</a>
                            <a href="javascript:;">广西</a>
                            <a href="javascript:;">广东</a>
                            <a href="javascript:;">海南</a>
                            <a href="javascript:;">重庆</a>
                            <a href="javascript:;">四川</a>
                            <a href="javascript:;">贵州</a>
                            <a href="javascript:;">云南</a>
                            <a href="javascript:;">西藏</a>
                            <a href="javascript:;">陕西</a>
                            <a href="javascript:;">甘肃</a>
                            <a href="javascript:;">青海</a>
                            <a href="javascript:;">宁夏</a>
                            <a href="javascript:;">新疆</a>
                            <a href="javascript:;">台湾</a>
                            <a href="javascript:;">澳门</a>
                            <a href="javascript:;">香港</a>
                            <a href="javascript:;">海外</a>
                        </div>
                    </div>
                    <span>： 买家承担运费</span>
                </div>
                <dl class='buy-num'>
                    <dt>购买数量：</dt>
                    <dd>
                        <b>1</b>
                        <a class='a2'>+</a>
                        <a class="a3">-</a>
                        <span>(当前库存20件)</span>
                    </dd>
                </dl>

                <div class='add-good'>
                    <a class="a4" title='立即购买'>立即购买</a>
                    <a class="a5" title="添加到购物车">添加购物车</a>
                </div>
        </div>

        <div class='fine-shop'>
            <h3>TYAKASHA 塔卡沙</h3>
            <h4><p style='float:left;margin-left:10px;'>综合评分：</p><img src='/static/images/iii/figer.jpg' style='width:78px;height:18px;float:left;'><span style='float:left;margin-left:5px;color:#FFA500;'>5</span>分</h4>
            <div class='scol'>
                <h5>店铺动态评分 &nbsp;&nbsp;&nbsp;与行业相比</h5>
                <ul>
                    <li>描述相符  5分<span>
                        <i>--</i>
                        持平
                        <em>----</em>
                    </span></li>

                    <li>服务态度  5分<span>
                        <i>--</i>
                        持平
                        <em>----</em>
                    </span></li>

                    <li>发货速度  5分<span>
                        <i>--</i>
                        持平
                        <em>----</em>
                    </span></li>
                </ul>
            </div>
            <dl class='shop-qq'>
                <dd>联系方式：</dd>
                <dt><a><img src='/static/images/iii/button_121.gif'></a></dt>
            </dl>
            <h4 class='span4'>&nbsp;&nbsp;&nbsp;<p>商户保障</p>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </h4>
            <div class='fine-bottom'>
                <a href='#'>进入商家店铺</a>
                <a href='#' style='margin-left:15px;'>收藏店铺</a>
            </div>

        </div>

    </div>

    <div id='intrduce'>
        <div class='intrduce-left'>
            <h2>TYAKASHA 塔卡沙</h2>
            <div class="good-class">
                <h3>商品分类</h3>
                <p class='p1'>
                    <span><a>按商品</a></span>
                    <span><a>按价格</a></span>
                    <span><a>按销售</a></span>
                    <span><a>按人气</a></span>
                </p>
                <form class='search-good'>
                    <input type='text' class='sear-text' placeholder="搜索店内商品">
                    <input type='button' class='sear-btn' value="搜索">
                </form>
                <p class='p2'>全部商品</p>
            </div>
            <div class='paiming'>
                <h3>商品排行</h3>
                <ul class='ul1'>
                    <li style='margin-right:4px;' class='active'>热销商品排行</li>
                    <li >热门收藏排行</li>
                </ul>


                <!--第一个ul-->
            <div class='renqi'>
                <ul class="ul2" style='display:block;'>
                    <li>
                        <a><img src='/static/images/iii/5386_05217341605037588_60.jpg'></a>
                        <dl>
                            <dd>TYAKASHA 塔卡沙...</dd>
                            <dt>￥ 580.00<br>售出： <b>0</b>笔</dt>
                        </dl>
                        <div class='box' style='position:absolute;left:70px;display: none;'><img src='/static/images/iii/5386_05217341605037588_60.jpg'></div>
                    </li>
                    <li>
                        <a><img src='/static/images/iii/5386_05217341605037588_60.jpg'></a>
                        <dl>
                            <dd>TYAKASHA 塔卡沙...</dd>
                            <dt>￥ 550.00<br>售出： <b>0</b>笔</dt>
                        </dl>
                        <div class='box' style='position:absolute;left:70px;display: none;'><img src='/static/images/iii/5386_05217341605037588_60.jpg'></div>
                    </li>
                    <li>
                        <a><img src='/static/images/iii/5386_05217341605037588_60.jpg'></a>
                        <dl>
                            <dd>TYAKASHA 塔卡沙...</dd>
                            <dt>￥ 540.00<br>售出： <b>0</b>笔</dt>
                        </dl>
                        <div class='box' style='position:absolute;left:70px;display: none;'><img src='/static/images/iii/5386_05217341605037588_60.jpg'></div>
                    </li>
                    <li>
                        <a><img src='/static/images/iii/5386_05217341605037588_60.jpg'></a>
                        <dl>
                            <dd>TYAKASHA 塔卡沙...</dd>
                            <dt>￥ 530.00<br>售出： <b>0</b>笔</dt>
                        </dl>
                        <div class='box' style='position:absolute;left:70px;display: none;'><img src='/static/images/iii/5386_05217341605037588_60.jpg'></div>
                    </li>
                    <li>
                        <a><img src='/static/images/iii/5386_05217341605037588_60.jpg'></a>
                        <dl>
                            <dd>TYAKASHA 塔卡沙...</dd>
                            <dt>￥ 570.00<br>售出： <b>0</b>笔</dt>
                        </dl>
                        <div class='box' style='position:absolute;left:70px;display: none;'><img src='/static/images/iii/5386_05217341605037588_60.jpg'></div>
                    </li>
                </ul>


                <!--第二个ul2-->
                <ul class="ul2" style='display:none;'>
                    <li>
                        <a><img src='/static/images/iii/5386_05217350035837731_60.jpg'></a>
                        <dl>
                            <dd>TYAKASHA 塔卡沙...</dd>
                            <dt>￥ 621.00<br>售出： <b>0</b>笔</dt>
                        </dl>

                        <div class='box' style='position:absolute;left:70px;display: none;'><img src='/static/images/iii/5386_05217350035837731_60.jpg'></div>
                    </li>
                    <li>
                        <a><img src='/static/images/iii/5386_05217350035837731_60.jpg'></a>
                        <dl>
                            <dd>TYAKASHA 塔卡沙...</dd>
                            <dt>￥ 586.00<br>售出： <b>0</b>笔</dt>
                        </dl>
                        <div class='box' style='position:absolute;left:70px;display: none;'><img src='/static/images/iii/5386_05217350035837731_60.jpg'></div>
                    </li>
                    <li>
                        <a><img src='/static/images/iii/5386_05217350035837731_60.jpg'></a>
                        <dl>
                            <dd>TYAKASHA 塔卡沙...</dd>
                            <dt>￥ 575.00<br>售出： <b>0</b>笔</dt>
                        </dl>

                        <div class='box' style='position:absolute;left:70px;display: none;'><img src='/static/images/iii/5386_05217350035837731_60.jpg'></div>
                    </li>
                    <li>
                        <a><img src='/static/images/iii/5386_05217350035837731_60.jpg'></a>
                        <dl>
                            <dd>TYAKASHA 塔卡沙...</dd>
                            <dt>￥ 630.00<br>售出： <b>0</b>笔</dt>
                        </dl>

                        <div class='box' style='position:absolute;left:70px;display: none;'><img src='/static/images/iii/5386_05217350035837731_60.jpg'></div>
                    </li>
                    <li>
                        <a><img src='/static/images/iii/5386_05217350035837731_60.jpg'></a>
                        <dl>
                            <dd>TYAKASHA 塔卡沙...</dd>
                            <dt>￥ 770.00<br>售出： <b>0</b>笔</dt>
                        </dl>

                        <div class='box' style='position:absolute;left:70px;display: none;'><img src='/static/images/iii/5386_05217350035837731_60.jpg'></div>
                    </li>
                </ul>

                </div>
                <input type='button' class='btn' value='查看本店其它商品'>

            </div>
        </div>

        <div class='intrduce-right'>
            <ul class='intrduce-nav'>
                <li class='change'>商品详情</li>
                <li>商品评价(0)</li>
                <li>销售记录(0)</li>
                <li>购买咨询</li>
            </ul>
            <p class='intrduce-p1'>
                <a style='margin-left:20px;'>卖家货号：45455454</a>
                <a style='margin-left:120px;'>品牌：广泰</a>
            </p>
            <div class='big-img1'>
                <img src="/static/images/iii/goods1.jpg">
                <img src="/static/images/iii/goods2.jpg">
                <img src="/static/images/iii/goods3.jpg">
            </div>

            <div class='big-img2'>
                <img src="/static/images/iii/goods4.jpg">
                <img src="/static/images/iii/goods5.jpg">
                <img src="/static/images/iii/goods6.jpg">

            </div>

        </div>

    </div>

</div>

<ul class='intrduce-nav1'>
    <li class='change'>商品详情</li>
    <li>商品评价(0)</li>
    <li>销售记录(0)</li>
    <li>购买咨询</li>
</ul>








<!--左侧----------------------------------------------------->

	<div id='page-left'>


		<!--服务头像-->
		<div class='default_user'>
			<a><img src='/static/images/iii/default_user_portrait.gif'></a>
			<span>会员登录</span>
		</div>

		<div class='left-cars'>

			<a href=''>购物车(<span class='shop-num'>0</span>)</a>
		</div>

		<div class='qq-pic' style='margin-top:5px;'>
			<a><img src='/static/images/iii/qq-pic.jpg'></a>

		</div>

		<div class='to-top' >
			<a href='#'><img src='/static/images/iii/toTop1.png' style='margin-top:6px;'></a>
			<span>返回顶部</span>
		</div>

	</div>

{% endblock %}