<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title></title>{% endblock %}

    <script src="/static/js/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/static/js/lib/JQuery/jquery-2.2.4.js"></script>
    <link rel="stylesheet" href="/static/js/lib/bootstrap-3.3.7-dist/css/bootstrap.css">

    {% block css_and_js %}
    <link rel="stylesheet" href="/static/css/base.css">
    {% endblock %}
</head>
<body>
{% block header %}


{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<div class="site-footer">
    <div class="first-row">
        <div class="center-centent">
            <div class="left">
                <span class="left-icon"><img src="/static/images/zhengpin.png" alt="正品保障"></span>
                <span>100%正品保障</span>
            </div>
            <div class="left">
                <span class="left-icon"><img src="/static/images/zhengpin.png" alt="正品保障"></span>
                <span>100%正品保障</span>
            </div>
            <div class="left">
                <span class="left-icon"><img src="/static/images/zhengpin.png" alt="正品保障"></span>
                <span>100%正品保障</span>
            </div>
            <div class="right">

            </div>
        </div>
    </div>
</div>
{% endblock %}

</body>
</html>