<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title></title>{% endblock %}

    <script src="/static/js/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/static/js/lib/JQuery/jquery-2.2.4.js"></script>
    <link rel="stylesheet" href="/static/js/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block css_and_js %}
    {% endblock %}
</head>
<body>
{% block header %}

{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<div class="site-footer">
    <div class="first-row">
        <p>花</p>
    </div>
</div>
{% endblock %}

</body>
</html>